@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
/* Shared styles */
.dark-01 {
  color: #131313;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
}
.dark-04 {
  color: #a1a1a1;
}
.dark-05 {
  color: #d0d0d0;
}
.dark-06 {
  color: #e7e7e7;
}
.dark-07 {
  color: #f3f3f3;
}
.white {
  color: #ffffff;
}
.text-primary {
  color: #ff900e;
}
.display-flex {
  display: flex;
}
.small-text {
  font-size: 1rem;
  line-height: 26px;
}

.section-title,
.fact-number {
  font-size: 2.8rem;
  font-weight: 700;
}
.big-title {
  font-weight: 700;
  font-size: 4rem;
}
.title {
  font-size: 1.4rem;
  font-weight: 600;
}
/* header styles */
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  list-style: none;
  margin-right: 25px;
}
.nav-link {
  text-decoration: none;
  color: #424242;
}
.navbar,
.bannar,
main {
  max-width: 1200px;
  margin: 0 auto;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
/* bannar related styles */
.bannar-content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}

.button-primary {
  background-color: rgba(255, 144, 14, 1);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.bannar-image {
  width: 100%;
}
/* main */
main > section {
  padding-top: 130px;
}
/* team and feature releted styles */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 100px;
  max-width: 500px;
}

#quick-list {
  font-weight: 500;
}

.Experience {
  font-size: 1.7rem;
  font-weight: 500;
}
/* some fact related styles */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 230px;
  height: 230px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
.fact-description {
  width: 520px;
}
/* sponsors related styles */
.text-sponsor {
  max-width: 520px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img {
  filter: grayscale(100%);
}
/* Responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsors-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }
  .sponsors-company {
    justify-items: center;
    gap: 50px;
  }
  .our-features {
    margin-left: 18px;
  }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 1020px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .facts-container,
  .sponsors-company {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 24px;
  }
}
